html { font-family: Roboto, Helvetica, Verdana, sans-serif; }


html, body { background-color: #DFDFDF; margin: 0; padding: 0; }
main { margin: auto; max-width: 800px; }

header { padding: 2em 1em; font-family: "Roboto Condensed", "Arial Narrow", sans-serif; background-color: #7B1FA2; color: #FFF; text-transform: uppercase; box-shadow: 0px 1px 1px 1px #CE93D8; }
header h1 { font-size: 300%; margin: 0 auto; max-width: 780px; }
header h2 { margin: 0 auto; font-size: 200%; max-width: 780px; }
header > :first-child { margin-top: 0; }
header > :last-child { margin-bottom: 0; }

main { background-color: white; box-shadow: 0px 1px 1px 1px #CE93D8; }
main p { margin: 1em auto; width: 80%;}
main dl { display: flex; flex-wrap: wrap; margin: 3em auto; width: 80%; }
main dt { flex: 0 0 15%; }
main dd { flex: 1 0 75%; margin-bottom: 2em; padding-left: .5em; margin-left: 0; }
main dd:last-of-type { margin-bottom: 1em; }
main > :first-child { margin-top: 0; padding-top: 1em; }
main > :last-child { margin-bottom: 0; padding-bottom: 1em; }

a { text-transform: uppercase; color: #2196F3; text-decoration: none; font-family: "Roboto Condensed", "Arial Narrow", sans-serif; }

.polyvox-font { font-family: Righteous, Impact, monospace; text-transform: lowercase; }
.important { background-color: #FFE082; padding: 1em; margin: 0 auto; border-radius: 0 0 8px 8px; font-weight: 700; }
.alert { background-color: #D50000; padding: 1em; margin: 0 auto; font-weight: 400; color: white; }
