<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module is="polyvox-wave-audio">
	<template>
		<style>
		:host {
			display: flex;
			flex-direction: column;
		}
		#wave-up { flex: 2 0 0; }
		#wave-down { flex: 1 0 0; }
		svg path { stroke: #FFCCBC; stroke-width: 4px; fill: #FFCCBC; }
		</style>
		<audio id="audio" src="[[src]]" volume="1" autoplay></audio>
		<svg id="wave-up" viewBox="0 0 1024 256" preserveAspectRatio="none">
			<!-- g transform="translate(0 256) scale(1 -1)" -->
				<path id="wave-up-path" d="M0,256L1024,256" />
			<!-- /g -->
		</svg>
	</template>
	<script>
	Polymer({
		is: 'polyvox-wave-audio',
		properties: {
			src: String
		},
		attached: function () {
			var context = new this._contextClass();
			this._analyzer = context.createAnalyser();
			this._analyzer.fftSize = 2048;

			var source = context.createMediaElementSource(this.$.audio);
			source.connect(this._analyzer);
			this._analyzer.connect(context.destination);

			this._bufferLength = this._analyzer.frequencyBinCount;
			this._data = new Uint8Array(this._bufferLength);

			this.$.audio.addEventListener('ended', this._ended.bind(this));

			this._getData();
			this._drawData();
		},
		get _contextClass() {
			return window.AudioContext || window.webkitAudioContext;
		},
		_normalize: function (point, height, min, max) {
			if (min === max) {
				return 256;
			}
			height = max * (height - min) / (max - min);
			height = 256 - ((point / 1024) * height);
			// height = 256 - ((1 - Math.abs((point / 512) - 1)) * (height));

			return height;
		},
		_getData: function () {
			if(this._stopped) {
				return;
			}
			this._analyzer.getByteTimeDomainData(this._data);
			window.requestAnimationFrame(this._getData.bind(this));
		},
		_drawData: function () {
			if (this._stopped) {
				this.$['wave-up-path'].setAttribute('d', '');
				return;
			}
			var min = 256;
			var max = 0;
			var data = this._data;
			var spline = ['M0,256'];

			for (var i = 0; i < data.length; i += 1) {
				max = Math.max(max, data[i]);
				min = Math.min(min, data[i]);
			}
			for (var i = 1; i < data.length; i += 1) {
				spline.push('L' + i + ',' + this._normalize(i, data[i], min, max));
			}
			spline.push("L1024,256");
			this.$['wave-up-path'].setAttribute('d', spline.join(''));
 			window.requestAnimationFrame(this._drawData.bind(this));
		},
		_ended: function () {
			this._stopped = true;
		}
	});
	</script>
</dom-module>
