@mixin on-med {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-sm {
  @media (max-width: 768px) {
    @content;
  }
}

$font-size-base: 16px;
$text-color: #5D4037;
$navbar-default-bg: #3E2723;
$navbar-default-brand-color: white;
$navbar-default-color: white;
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400);

html, body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  background: radial-gradient(ellipse at 75% 75%,#FFECB3 20%,#FFFDE7 100%);
  
  @include on-med {
    height: 100%;
  }
}

input, button {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

footer {
  margin-top: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  h1 { font-size: floor(($font-size-base * 1.7)); }
  h2 { font-size: floor(($font-size-base * 1.25)); }
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 1em 2em 0 2em;

  @include on-med {
    margin-top: 50px;
  }
}  
  
.tiled {  
  @include on-med {
    display: flex;
    flex-wrap: wrap;
  }
}

.one, .two {
  h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.one, .two {
  flex: 1 0 50%;
}

.one {
  header {
    padding: 2rem 2rem 0 2rem;
  }
}

.two {
  header {
    padding: 2rem 2rem 0 2rem;
  }

  @include on-med {
    margin: auto 25%;
  }
}

.one, .two {
  header {
    display: flex;
    align-items: flex-end;
  }
}

.left {
  .img {
    margin-right: 1em;
  }
}

.right {
  .img {
    order: 2;
  }

  .headlines {
    flex-grow: 1;
    order: 1;
  }
}

.content {
  padding: 1rem 2rem 2rem 2rem;
}

.img {
  background-color: gray;
  min-width: 100px;
  min-height: 100px;
}

.navbar-label {
  color: white;
  font-weight: 400;
}

.happy {
  margin-right: 0.25em;
}
